{% extends "layout.njk" %}


{% block content %}

    <div class="card">
        <section class="avatar" style="background: url()"></section>

        <section class="details">
        
        </section>
    </div>

{% endblock %}